.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  min-block-size: 100vh;
}

.center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
  padding-inline: 0;
}

.center:before {
  border-radius: 50%;
  background: var(--secondary-glow);
  block-size: 360px;
  inline-size: 480px;
  margin-inline-start: -400px;
}

.center:after {
  z-index: -1;
  background: var(--primary-glow);
  block-size: 180px;
  inline-size: 240px;
}

.center:before,
.center:after {
  position: absolute;
  content: '';
  filter: blur(45px);
  inset-inline-start: 50%;
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Mobile */
@media (width <= 700px) {
  .center {
    padding-block: 8rem 6rem;
    padding-inline: 0;
  }

  .center:before {
    block-size: 300px;
    transform: none;
  }
}

/* Tablet and Smaller Desktop */
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem hsl(0deg 0% 100% / 43.9%));
  }
}
